---
BasedOnStyle: LLVM
AlignArrayOfStructures: Left
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
AlignTrailingComments: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Linux
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Always